<div class="alert alert-{{ type }}" role="alert">
  @switch (type) {
    @case ("success") {
      <span class="alert-icon"><mat-icon fontIcon="assignment_turned_in"></mat-icon></span>
    } @case ("warn") {
      <span class="alert-icon"><mat-icon fontIcon="warning"></mat-icon></span>
    } @case ("danger") {
      <span class="alert-icon"><mat-icon fontIcon="report"></mat-icon></span>
    } @default {
      <span class="alert-icon"><mat-icon fontIcon="info"></mat-icon></span>
    }
  }
  {{ message }}
</div>
