.alert {
  display: flex;
  padding: 12px 16px;
  border-left-width: 4px;
  border-left-style: solid;
  flex: 24px 1;
  align-items: center;
  gap: 0 12px;
}

.alert-icon {
  min-width: 24px;
}

.alert-info {
  background-color: #ebf8ff;
  border-color: #4299e1;
  color: #2b6cb0;
}

.alert-success {
  background-color: #e6fffa;
  border-color: #38b2ac;
  color: #234e52;
}

.alert-warn {
  background-color: #fffaf0;
  border-color: #ed8936;
  color: #c05621;
}

.alert-danger {
  background-color: #fff5f5;
  border-color: #fc8181;
  color: #c53030;
}
